# checkpoints
.ipynb_checkpoints

inline

# ignore folder
/ignore

# ignore .idea directory
/.idea

# ignore all .csv files
*.csv

# ignore merge files
.merge*

# ignore all .pdf files
*.pdf

# ignore all .xlsx files
*.xlsx

# ignore all database files
*.db

# ignore all model files
*.pkl
